body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

input[id="fname"], input[type="number"], input[id="age"] {
    font-weight: bold;
    font-size: 14px;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: ease;
}

input[id="fname"]:focus, input[type="number"]:focus {
    border-color: lightskyblue;
    outline: none;
}

input[id="submit-btn"] {
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: 0.3s;
}

input[id="submit-btn"]:hover{
    background-color: white;
    color: black;
    outline: none;
}

input[id="top-movies"] {
    font-weight: bold;
    font-size: 14px;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: ease;
    width: 500px;
    height: 35px;
}

input[id="top-movies"]:focus {
    border-color: lightskyblue;
    outline: none;
}
